#registr_form{
		display:none;

}
th,td{text-align: center}
textarea{
	resize: none;
	overflow-y: hidden;
	
}
.separator {
    border-right: 1px solid #dfdfe0; 
}
.icon-btn-save {
    padding-top: 0;
    padding-bottom: 0;
}
.input-group {
    margin-bottom:10px; 
}
.btn-save-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}
.days td{



background-color:#F0F0F0;
}
.days th{
background-color:#333333;
color:white;

}
.begin,.end,.lunch_begin,.lunch_end{

color:blue;

}
/*#nav-header{
background-color:gray;
color:white;


}*/
.navbar-default .navbar-nav>li>a{
color:white;

    
}